/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add custom styles below if needed */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}
